{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "google",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "require-jsdoc": 0,
    "no-invalid-this": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/no-parameter-properties": 0,
    "@typescript-eslint/no-object-literal-type-assertion": 0
  }
}
