.App__switch {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  margin: 0;
  transform: translateY(calc(-100% - 20px));
  transition: transform 400ms;

  &--visible {
    transform: translateY(0);
  }
}
